.code-fragment {
  border-radius: 99px;
  height: 1vmin;
  background-color: #579f8e;
  box-shadow: 0 0 10px rgb(140 241 218 / 0.2);
  transition: transform 200ms ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.4);
  }

  &.active {
    transform: scale(1.1);
  }
}
