@keyframes slide {
  from {
    top: 100%;
  }

  to {
    top: -60px;
  }
}

.line-container {
  display: flex;
  align-items: center;
  animation: slide var(--speed) linear forwards;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}

.stripe {
  border-radius: 99px;
  height: 1vmin;
  background-color: #579f8e;
  box-shadow: 0 0 10px rgb(140 241 218 / 0.2);
  transition: transform 200ms ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.4);
  }
}
